[class^="col-"],
[class*=" col-"] {
  float: left;
}
.cf:before,
.cf:after,
.row:before,
.row:after {
  content: "";
  display: table;
}
.cf:after,
.row:after {
  clear: both;
}
.col-100 {
  width: 100%;
}
.col-50 {
  width: 50%;
}
.col-25 {
  width: 25%;
}
.col-33 {
  width: 33.3333%;
}
.col-66 {
  width: 66.6666%;
}
.col-75 {
  width: 75%;
}
.col-10 {
  width: 10%;
}
.col-20 {
  width: 20%;
}
.flipH {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.flipV {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}
* {
  box-sizing: border-box;
}
:after,
:before {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  max-height: 100%;
  margin: 0;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0px;
}
.header div {
  color: #ffffff;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.header li a,
.anchor {
  color: #ffffff;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 20px;
  text-decoration: none;
  -webkit-transition: all 0.15s;
  /* Safari */
  transition: all 0.15s;
}
.header h2 {
  margin: 0 0 5px 0;
  font-style: italic;
  font-size: 12px;
  font-weight: normal;
}
.header h3 {
  margin: 0 0 20px 0;
  font-size: 18px;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}
.vertical {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
}
.vertical .inner {
  display: table-cell;
  vertical-align: middle;
}
.header {
  height: 100%;
  background: url('../../public/img/header/desert01.jpg') no-repeat;
  background-size: cover;
}
.navigation-bar {
  position: absolute;
  width: 100%;
  text-align: center;
  padding-bottom: 100px;
}
.menu-icon {
  width: 2em;
  height: 1.5em;
  cursor: pointer;
}
.menu-icon:hover > div {
  border-color: #b33000;
}
.menu-icon > div {
  width: 100%;
  margin-bottom: 3px;
  border-top: 0.35em solid #FFF;
  -webkit-transition: all 0.15s;
  /* Safari */
  transition: all 0.15s;
}
.absolute-top-left {
  position: absolute;
  top: 35px;
  bottom: auto;
  left: 25px;
  right: auto;
}
.absolute-top-right {
  position: absolute;
  top: 35px;
  bottom: auto;
  left: auto;
  right: 25px;
}
.absolute-bottom-left {
  position: absolute;
  top: auto;
  bottom: 35px;
  left: 25px;
  right: auto;
}
.button {
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 25px;
  padding: 0.8em 3em;
}
.button-white {
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 25px;
  padding: 0.8em 3em;
  background-color: white;
  color: black;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  -webkit-transition: all 0.15s;
  /* Safari */
  transition: all 0.15s;
}
.button-white:hover {
  background-color: #b33000;
  color: white;
}
.button-blue {
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 25px;
  padding: 0.8em 3em;
  background-color: steelblue;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  -webkit-transition: all 0.15s;
  /* Safari */
  transition: all 0.15s;
}
.button-blue:hover {
  background-color: #b33000;
  color: white;
}
.button-black {
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 25px;
  padding: 0.8em 3em;
  background-color: white;
  color: black;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  -webkit-transition: all 0.15s;
  /* Safari */
  transition: all 0.15s;
  background-color: black;
  color: white;
  font-weight: 500;
}
.button-black:hover {
  background-color: #b33000;
}
.button-gray {
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 25px;
  padding: 0.8em 3em;
  background-color: white;
  color: black;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  -webkit-transition: all 0.15s;
  /* Safari */
  transition: all 0.15s;
  background-color: #363636;
  color: white;
  font-weight: 500;
  margin-top: 20px;
  position: relative;
  top: 20px;
}
.button-gray:hover {
  background-color: #b33000;
}
.navigation {
  padding: 0 160px;
}
.navigation > li {
  display: inline-block;
  margin: 17.5px 0;
}
.navigation > li a:hover {
  color: #b33000;
}
.navigation > li img {
  vertical-align: middle;
  width: 70%;
}
.hero-unit {
  text-align: center;
  color: white;
}
.hero-unit .title {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 70px;
  text-transform: none;
}
.hero-unit .sub-title {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.all-trips {
  text-decoration: underline;
  margin: 0 0 0 10px;
}
.proof {
  height: 30%;
  text-align: center;
}
.proof .inner .title {
  font-size: 30px;
  margin: 5px;
}
.proof .inner .sub-title {
  font-size: 15px;
  margin: 0 0 30px 0;
}
main {
  height: 100%;
}
main .title {
  color: #000000;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 5px;
}
main .sub-title {
  color: #b33000;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.adventures-list {
  height: 35%;
}
.adventures-list .adventure-item {
  background: no-repeat center;
  background-size: cover;
  height: 100%;
  filter: contrast(80%);
  -webkit-filter: contrast(80%);
  -moz-filter: contrast(80%);
  -o-filter: contrast(80%);
  -ms-filter: contrast(80%);
  -webkit-transition: all 0.15s;
  /* Safari */
  transition: all 0.15s;
}
.adventures-list .adventure-item:hover {
  filter: contrast(100%);
  -webkit-filter: contrast(100%);
  -moz-filter: contrast(100%);
  -o-filter: contrast(100%);
  -ms-filter: contrast(100%);
}
.adventures-list .adventure-item .outer {
  display: block;
  position: relative;
  height: 100%;
  text-decoration: none;
}
.adventures-list .adventure-item .inner {
  position: relative;
  top: 40%;
  width: 100%;
  text-align: center;
}
.adventures-list .adventure-item .inner > p {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 2px 2px 8px #000000;
}
.slide-title {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  white-space: normal;
  color: #ffffff;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.slide-title:after {
  background-color: #ffffff;
  content: "";
  display: block;
  height: 2px;
  width: 100px;
  margin: 15px auto;
}
.slide-text {
  font-size: 20px;
  font-family: initial;
  white-space: normal;
  margin: 2% 30%;
  line-height: 30px;
  text-shadow: 2px 2px 8px #000000;
}
.inspiration-list {
  height: 17%;
  margin: 0 15%;
}
.inspiration-list .inspiration-item {
  height: 100%;
  display: table;
}
.inspiration-list .inspiration-item .outer {
  display: table-cell;
  position: relative;
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-transition: background-color 0.15s;
  /* Safari */
  transition: background-color 0.15s;
}
.inspiration-list .inspiration-item .outer:hover {
  background-color: #ececec;
}
.inspiration-list .inspiration-item .outer > img,
.inspiration-list .inspiration-item .outer .inspiration-text {
  display: inline-block;
  vertical-align: top;
  font-size: 10px;
  margin: 0 15px;
}
.inspiration-list .inspiration-item .outer .inspiration-text .sub-title {
  font-size: 12px;
  margin: 0;
  white-space: normal;
}
.inspiration-list .inspiration-item .outer .inspiration-text .title {
  font-size: 20px;
  letter-spacing: 3px;
  margin: 5px 0;
  width: 80%;
  white-space: normal;
}
.inspiration-list .inspiration-item .outer .inspiration-text .description {
  font-size: 10px;
  color: darkgrey;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 80%;
  white-space: normal;
}
.footer-menu,
.footer-bottom {
  background-color: #1d1d1d;
  padding: 0 15%;
  display: table;
  width: 100%;
}
.footer-menu .footer-col {
  padding: 70px 15px;
}
.footer-menu .footer-col p,
.footer-menu .footer-col p > a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: 14px;
  letter-spacing: 4px;
  line-height: 30px;
}
.footer-menu .footer-col p > a:hover {
  color: #b3b3b3;
}
.footer-menu .col-50 {
  padding-left: 215px;
}
.footer-bottom {
  background-color: #000000;
  padding: 20px 15%;
}
.footer-bottom p,
.footer-bottom p > a {
  padding-right: 15px;
  color: #696969;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: 2px;
}
.footer-bottom p > a:hover {
  color: #363636;
}
.footer-bottom p > a:first-child:after {
  content: "|";
  margin-left: 15px;
}
.footer-bottom p > a:hover:first-child:after {
  color: #696969;
}
.form-control,
.form-control:focus {
  border: none;
  border-bottom: 2px solid #363636;
  outline: none;
  outline-style: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #992900 !important;
  font-style: italic;
  font-weight: bold;
  font-family: initial;
  font-size: 18px;
  padding-bottom: 3px;
  background-color: transparent;
  padding-left: 10px;
  width: 100%;
}
.input-placeholder-style {
  color: #992900 !important;
  font-style: italic;
  font-weight: bold;
  font-family: initial;
  font-size: 18px;
  padding-bottom: 3px;
  background-color: transparent;
}
input::-webkit-input-placeholder {
  color: #992900 !important;
  font-style: italic;
  font-weight: bold;
  font-family: initial;
  font-size: 18px;
  padding-bottom: 3px;
  background-color: transparent;
}
input:-moz-placeholder {
  /* Firefox 18- */
  color: #992900 !important;
  font-style: italic;
  font-weight: bold;
  font-family: initial;
  font-size: 18px;
  padding-bottom: 3px;
  background-color: transparent;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: #992900 !important;
  font-style: italic;
  font-weight: bold;
  font-family: initial;
  font-size: 18px;
  padding-bottom: 3px;
  background-color: transparent;
}
input:-ms-input-placeholder {
  color: #992900 !important;
  font-style: italic;
  font-weight: bold;
  font-family: initial;
  font-size: 18px;
  padding-bottom: 3px;
  background-color: transparent;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #1d1d1d inset !important;
  -webkit-text-fill-color: #992900 !important;
}
